*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: #dedbd9;
    background-image: url(bgimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
}
.box{
    width: 100%;
}
.todo{
    width: 100%;
    max-width: 500px;
    background: transparent;
    backdrop-filter: blur(3px);
    margin: 50px 50px;
    padding: 40px 30px 10px;
    border: 1px solid black;
    border-radius: 10px;
}
.todo h2{
    color: #070065;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo h2 img{
    width: 40px;
    margin-left: 10px;
}
.todo h3{
    margin-bottom: 10px;
}
.searchbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef081;
    border: 1px solid rgba(0, 0, 0, 0.478);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #c8a3e585;
    color: rgb(90, 83, 83);
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
}
ul li{
    position: relative;
    list-style: none;
    font-size: 17px;
    padding: 14px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 4px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}

ul li button{
    padding: 0;
    background: none;
    position: absolute;
    right: 40px;
    top: 5px;
    width: 40px;
    height: 40px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 30%;
}
ul li button:hover{
    background: #edeef0;
}